<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оракул Пиццы</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Оракул Пиццы</h1>
        <form id="question-form">
            <input type="text" id="question-input" placeholder="Задайте ваш вопрос" required>
            <button type="submit" class="submit-btn">Получить предсказание</button>
        </form>
        <div id="prediction" style="display: none;">
            <p>Карты Таро:</p>
            <ul id="tarot-cards"></ul>
            <p id="prediction-text"></p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
